@import url();
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik' ,sans-serif;
}
body{
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
 .sidebar{
    position: fixed;
     left: 0;
     top: 0;
     height: 100%;
     width: 78px;
     background: rgba(0, 0, 0, 0.35);
     backdrop-filter: blur(25px);
     padding: 6px 14px;
     z-index: 9;
     transition: all 0.5s ease;
 }